.container__search {
  display: flex;
  align-items: center;
  width: 265px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container_for_select_search {
  display: flex;
  align-items: center;
  width: 80%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container_for_select_search input#search {
  width: 100%;
  border: none;
  height: 30px;
  font-size: 10pt;
  float: left;
  padding-left: 0;
}

.container_for_select_search input#search:focus,
.container_for_select_search input#search:active {
  outline: none;
  border: none;
}
.container__search__for__table {
  display: flex;
  align-items: center;
  width: 165px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container_all_width {
  display: flex;
  align-items: center;
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container_all_width input#search {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 32px;
  font-size: 10pt;
  float: left;
  padding-left: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background 0.55s ease;
  -moz-transition: background 0.55s ease;
  -ms-transition: background 0.55s ease;
  -o-transition: background 0.55s ease;
  transition: background 0.55s ease;
}
.container_all_width .icon-search {
  position: absolute;
  right: 14px;
  z-index: 1;
  color: #4f5b66;
  width: 16px;
  height: 16px;
  background: url('./../../images/search.svg') no-repeat;
}
.container__search input#search {
  width: 265px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 32px;
  font-size: 10pt;
  float: left;
  padding-left: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background 0.55s ease;
  -moz-transition: background 0.55s ease;
  -ms-transition: background 0.55s ease;
  -o-transition: background 0.55s ease;
  transition: background 0.55s ease;
}
.container__search__for__table input#search {
  width: 165px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 32px;
  font-size: 10pt;
  float: left;
  padding-left: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background 0.55s ease;
  -moz-transition: background 0.55s ease;
  -ms-transition: background 0.55s ease;
  -o-transition: background 0.55s ease;
  transition: background 0.55s ease;
}
.container__search__for__table .icon-search {
  position: absolute;
  right: 14px;
  z-index: 1;
  color: #4f5b66;
  width: 16px;
  height: 16px;
  background: url('./../../images/search.svg') no-repeat;
}
.container__search .icon-search {
  position: absolute;
  right: 14px;
  z-index: 1;
  color: #4f5b66;
  width: 16px;
  height: 16px;
  background: url('./../../images/search.svg') no-repeat;
}
.container__search__for__table .icon-clear {
  position: absolute;
  cursor: pointer;
  right: 14px;
  z-index: 1;
  color: #4f5b66;
  width: 16px;
  height: 16px;
  background: url('./../../images/clear_search.svg') no-repeat;
}
.container__search__for__table input#search:focus,
.container__search__for__table input#search:active {
  outline: none;
  border: 1px solid #6358c1;
}

.container__search .icon-clear {
  position: absolute;
  cursor: pointer;
  right: 14px;
  z-index: 1;
  color: #4f5b66;
  width: 16px;
  height: 16px;
  background: url('./../../images/clear_search.svg') no-repeat;
}
.container__search input#search:focus,
.container__search input#search:active {
  outline: none;
  border: 1px solid #6358c1;
}

.container_all_width_respondents {
  display: flex;
  align-items: center;
  width: 70%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container_all_width_respondents input#search {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 32px;
  font-size: 10pt;
  float: left;
  padding-left: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background 0.55s ease;
  -moz-transition: background 0.55s ease;
  -ms-transition: background 0.55s ease;
  -o-transition: background 0.55s ease;
  transition: background 0.55s ease;
}
.container_all_width_respondents .icon-search {
  position: absolute;
  right: 14px;
  z-index: 1;
  color: #4f5b66;
  width: 16px;
  height: 16px;
  background: url('./../../images/search.svg') no-repeat;
}
.container_all_width_exclude {
  display: flex;
  align-items: center;
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container_all_width_exclude input#search {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 32px;
  font-size: 10pt;
  float: left;
  padding-left: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background 0.55s ease;
  -moz-transition: background 0.55s ease;
  -ms-transition: background 0.55s ease;
  -o-transition: background 0.55s ease;
  transition: background 0.55s ease;
}
.container_all_width_exclude .icon-search {
  position: absolute;
  right: 14px;
  z-index: 1;
  color: #4f5b66;
  width: 16px;
  height: 16px;
  background: url('./../../images/search.svg') no-repeat;
}

@media screen and (max-width: 768px) {
  .container__search__for__table {
    width: 100%;
  }
  .container__search__for__table input#search {
    width: 100%;
  }
  .container__search {
    width: 100%;
  }
  .container__search input#search {
    width: 100%;
  }
}
