.spinner__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #8e44ad;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}
.spinner__pending {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #fd351b;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}
.spinner__pending__files {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #8e44ad;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
