.custom__base__modal__button-container {
  margin-top: 32px;
  margin-bottom: 20px;
}

.custom__base__modal__button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  background-color: #000000;
  border-radius: 20px/50px;
  cursor: pointer;
  outline: 0px transparent !important;
}

.custom__base__modal__button:hover {
  background: #36485f;
}
.custom__base__modal__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: auto;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(25, 21, 56, 0.75);
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.custom__base__modal__wrapper_scroll {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: auto;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(25, 21, 56, 0.75);
  justify-content: center;
  z-index: 3;
}
.custom__base__modal {
  display: block;
  height: max-content;
  width: 40%;
  background: #ffff;
  border-radius: 8px;
  transition: all 5s ease-in-out;
  padding-bottom: 50px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 26px;
}
.custom__base__modal__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 24px;
}
.custom__base__modal__title h2 {
  margin: 0px;
  font-family: Gilroy;
  font-weight: 600;
  font-size: 24px;
  color: rgba(24, 26, 31, 0.88);
}

.custom__base__modal p {
  margin: 27px 0 15px 0;
  font-family: Gilroy;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(24, 26, 31, 0.88);
}
.custom__base__modal .modal__base__window {
  margin-left: 51px;
}
.modal__base__window p {
  margin-top: 10px;
}
.modal__base__body {
  margin-left: 51px;
}
.modal__base__input {
  display: flex;
  width: 100%;
  align-items: center;
}

.modal__base__input p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
  margin-right: 50px;
}

.custom__base__modal h3 {
  margin-top: 61px;
  margin-left: 51px;
  margin-bottom: 25px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}

.modal__base__input input {
  width: 441px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #dddddd;
}

.custom__base__modal__close__container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.custom__base__modal__close {
  width: 215px;
  height: 38px;
  left: 633px;
  top: 809px;
  background: #f0f0f0;
  border: 1px solid #666666;
  border-radius: 20px;
  transition: all 200ms;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.custom__base__modal__close:hover {
  color: #ffffff;
  background: #ee320b;
  border: 1px solid #666666;
}

.custom__base__modal .content {
  max-height: 30%;
  overflow: auto;
}
.boldSubtitle {
  font-family: sans-serif !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 19px !important;
  color: #666666 !important;
}
.title__padding {
  padding-left: 25px !important;
}
.close__icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: url('../../images/close.svg') no-repeat;
}
@media screen and (max-width: 1180px) {
  .custom__base__modal__wrapper {
    padding-top: 130px;
  }
}
@media screen and (max-width: 1024px) {
  .custom__base__modal {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .custom__base__modal {
    width: 100%;
  }
}
