custom__result__modal__button-container {
  margin-top: 32px;
  margin-bottom: 20px;
}

.custom__result__modal__button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  background-color: #000000;
  border-radius: 20px/50px;
  cursor: pointer;
  outline: 0px transparent !important;
}

.custom__result__modal__button:hover {
  background: #36485f;
}
.custom__result__modal__wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(25, 21, 56, 0.75);
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.custom__result__modal {
  display: block;
  height: max-content;
  width: 50%;
  background: #ffff;
  border-radius: 8px;
  transition: all 5s ease-in-out;
  padding: 32px 32px 24px 32px;
}
.custom__result__modal__title {
  display: flex;
  justify-content: flex-start;
  line-height: 24px;
}
.custom__result__modal__title h2 {
  margin: 0;
  font-family: Gilroy, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: rgba(24, 26, 31, 0.88);
}

.custom__result__modal p {
  margin-top: 8px;
  font-family: Gilroy, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(24, 26, 31, 0.88);
}
.custom__result__modal .modal__result__window {
  margin-left: 51px;
}
.modal__result__window p {
  margin-top: 10px;
}
.custom__result__modal h3 {
  margin-top: 61px;
  margin-left: 51px;
  margin-bottom: 25px;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}

.custom__result__modal__close__container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.custom__result__modal__close {
  width: 215px;
  height: 38px;
  left: 633px;
  top: 809px;
  background: #f0f0f0;
  border: 1px solid #666666;
  border-radius: 20px;
  transition: all 200ms;
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.custom__result__modal__close:hover {
  color: #ffffff;
  background: #ee320b;
  border: 1px solid #666666;
}

.custom__result__modal .content {
  max-height: 30%;
  overflow: auto;
}
.title__padding {
  padding-left: 25px !important;
}
.warning__icon {
  width: 40px;
  height: 40px;
  background: url('../../images/warning.png') no-repeat;
}
.checked__icon {
  width: 23px;
  height: 23px;
  background: url('../../images/checked.svg') no-repeat;
}
.error__icon {
  width: 40px;
  height: 23px;
  background: url('../../images/error__icon.svg') no-repeat;
}
.custom__result__modal__body {
  line-height: 22px;
  margin-left: 18px;
}
.custom__result__modal__button__close {
  float: right;
}
@media screen and (max-width: 1075px) {
  .custom__result__modal {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .custom__result__modal__title {
    justify-content: center;
  }
  .custom__result__modal {
    width: 100%;
  }
}
