.button__base__file {
  transition: 0.3s;
  background: #6358c1;
  border: 1px solid #6358c1;
  border-radius: 6px;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #ffffff;
  min-width: 158px;
  padding: 0;
}
.hideInput {
  display: none !important;
}
.labelInput {
  height: 100%;
  width: 100%;
  padding: 6px 16px;
  cursor: pointer;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 0;
}
.button__light__file {
  padding: 6px 16px;
  cursor: pointer;
  transition: 0.3s;
  background: rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  min-width: 158px;
}
.button__disabled__file {
  padding: 6px 16px;
  cursor: pointer;
  transition: 0.3s;
  background: #8983b7;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 768px) {
  .button__base__file {
    width: 100%;
  }
}
