.tab__wrapper {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tab__container {
  display: inline-block;
  padding: 2px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.04);
  font-family: Gilroy, sans-serif;
}
.tab__button__container {
  width: 100%;
  display: flex;
  align-items: center;
}
.button__container {
  display: flex;
  align-items: center;
  margin-left: 24px;
}
.tab {
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
}

.active__tab {
  background-color: #ffffff;
  border-bottom: none;
}
.disabled_tab {
  color: var(--colorTextDisabled, rgba(0, 0, 0, 0.25)) !important;
}

.tab__content {
  margin-top: 10px;
}
@media screen and (max-width: 1140px) {
  .tab__button__container {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 905px) {
  .tab__wrapper {
    flex-direction: column;
    align-items: normal;
  }
  .tab__container {
    width: 450px;
  }
  .tab__button__container {
    flex-direction: column;
    align-items: flex-start;
  }
  .button__container {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-top: 24px;
  }
}
@media screen and (max-width: 515px) {
  .tab__container {
    white-space: nowrap;
    overflow-x: auto;
    width: 100%;
  }
}
