.custom-select-container {
  position: relative;
  width: 100%;
}
.custom-select-container-auth {
  position: relative;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.select-wrapper {
  position: relative;
}

.selected-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 40px;
  cursor: pointer;
}
@media screen and (max-width: 455px) {
  .selected-option {
    padding: 5px;
  }
}
.selected-option-auth {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0px;
  cursor: pointer;
}
.selected-dynamic-icon {
  margin-left: 12px;
  width: 25px;
  height: 28px;
}
.selected-auth-text {
  flex-grow: 1;
  font-family: Gilroy, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.selected-icon {
  width: 20px;
  height: 12px;
  background-image: url('../../images/arrow-down.svg');
  margin-right: 10px;
}
.selected-auth-icon {
  width: 11px;
  height: 9px;
  background-image: url('../../images/arrow-auth.svg');
  margin-right: 10px;
}

.selected-text {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.select-options {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  background-color: lightgrey;
  z-index: 3;
}

.option {
  padding: 5px;
  cursor: pointer;
}

.option:hover {
  background-color: #ddd;
}
