.pagination-container {
  display: flex;
  list-style-type: none;
  margin-top: 32px;
  padding: 0;

  .pagination-item {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.02em;
    color: rgba(24, 26, 31, 0.88);
    justify-content: center;
    height: 32px;
    margin: auto 10px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    border-radius: 16px;
    min-width: 32px;

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      cursor: pointer;
      width: 32px;
      height: 32px;
      border-radius: 6px;
      border: 1px solid #6358c1;
      padding: 0 12px;
    }

    &.selected {
      width: 32px;
      height: 32px;
      background: #eeecf8;
      border-radius: 6px;
    }

    .arrow {
      &::before {
        position: relative;
        /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
        content: '';
        /* By using an em scale, the arrows will size with the font */
        display: inline-block;
        width: 0.6em;
        height: 0.6em;
        border-right: 0.12em solid rgba(0, 0, 0, 0.87);
        border-top: 0.12em solid rgba(0, 0, 0, 0.87);
      }

      &.left {
        transform: rotate(-135deg) translate(-18%);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.12em solid rgba(0, 0, 0, 0.43);
        border-top: 0.12em solid rgba(0, 0, 0, 0.43);
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
    @media screen and (max-width: 768px) {
      margin: auto 2px;
    }
  }
}
